Repository victoriadrake/hydra-link-checker: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, unittest

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0 # Use the ref you want to point at
    hooks:
      - id: detect-aws-credentials
      - id: end-of-file-fixer
        types: [markdown]
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.7.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.3b0]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Lint Markdown files"
        entry: markdownlint '**/*.md' --fix --ignore node_modules --config "./.markdownlint.json"
        language: node
        types: [markdown]
      - id: unittest
        name: unittest
        description: "Run the tests"
        entry: python -m unittest tests/test.py
        language: python
        types: [python]

add Config class with tests
  hydra.py
  tests/data/basic_config.json
  tests/test.py
Due: unittest

basic constant replacement finished for testing
  hydra.py
  tests/test.py
Due: unittest

readme updates for config file
  README.md
  hydra.py
Due: markdownlint, unittest

update test to accomodate 999 in OK
  tests/test.py
Due: unittest

remove leftover comments
  hydra.py
Due: unittest

Enh 8 - Add support for configuration files (#9)
  README.md
  hydra.py
  tests/data/basic_config.json
  tests/test.py
Due: markdownlint, unittest

Update README and lint
  README.md
  hydra.py
  tests/data/basic_config.json
  tests/test.py
Due: markdownlint, unittest

do not fail on bad links
  hydra.py
Due: unittest

ignore javascript: links
  README.md
  hydra.py
  tests/data/test-page.html
  tests/test.py
Due: markdownlint, unittest

do not fail on bad links (#11)
  hydra.py
Due: unittest

ignore javascript: links (#12)
  README.md
  hydra.py
  tests/data/test-page.html
  tests/test.py
Due: markdownlint, unittest

Update tests and linting
  .github/workflows/run_tests.yml
  .pre-commit-config.yaml
Due: none

Less bitey more happy
  .pre-commit-config.yaml
  hydra.py
  tests/data/basic_config.json
  tests/data/test-page.html
  tests/test.py
Due: unittest

Update README
  README.md
Due: markdownlint

Less bitey more happy (#13)
  .pre-commit-config.yaml
  README.md
  hydra.py
  tests/data/basic_config.json
  tests/data/test-page.html
  tests/test.py
Due: markdownlint, unittest

Update README.md
  README.md
Due: markdownlint

Add an option to gracefully exit in Configuration, defaulting to the original behaviour of returning non-zero exit code if broken links are present
  README.md
  hydra.py
Due: markdownlint, unittest

Add an option to gracefully exit in Configuration, defaulting to the original behaviour of returning non-zero exit code if broken links are present (#16)
  README.md
  hydra.py
Due: markdownlint, unittest

Update LICENSE
  LICENSE
Due: none

Update tests and README
  .github/workflows/run_tests.yml
  LICENSE
  README.md
  screenshots/test-fail.png
  screenshots/test-pass.png
Due: markdownlint

Fix test CI: pin checkout@v4/setup-python@v5, set Python version, wire runs-on matrix, quote versions, add 3.13 + PR trigger
  .github/workflows/run_tests.yml
Due: none

Update copyright year to 2026
  LICENSE
Due: none

Update copyright year to 2026 (#18)
  LICENSE
Due: none

Don't stop crawling while jobs are in flight (#3)
  hydra.py
  tests/test.py
Due: unittest

Document excluding domains via exclude_scheme_prefixes (#17)
  README.md
Due: markdownlint

Add self-contained end-to-end crawl test (#10)
  tests/test.py
Due: unittest
